<!DOCTYPE HTML>
<html>
    <head>
        <title>Koch AI</title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style2.css'>
        <link rel="shortcut icon" href="../static/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </head>

    <body>
        
        <div class="outerWrapper">   
                    
            <div class="row">
                <div class="col m2">
                    <div id="card" class="card center-align">

                        <div class="card-image valign-wrapper">
                            <div class="logo-wrapper">
                                <img id="logo" href="/" src="../static/bacteria.png" class = "logo centered">
                            </div>
                        </div>
                        
                        <div class="card-content">
                            
                            <div class="info">
                                <h3>Koch AI</h3>
                                <p1>Automatic Tuberculosis Detector</p1>
                            </div>


                            <div class="upload-wrapper">
                                <!-- <input id="fileUpload" type="file" accept="image/*"/> -->
                                <a id="upload-btn" class="btn btn-file btn-medium hoverable">
                                    <i class="material-icons left">cloud_upload</i>
                                    Browse<input id="fileUpload" type="file" accept="image/*">
                                </a>
                            </div> 

                            <div class="analyze-wrapper">
                                <a id="analyze-btn" class="hoverable btn btn-medium scale-transition scale-out" onclick="analyze()">
                                    <strong>Analyze</strong>
                                  </a>
                                <br>
                                <a id="download-btn" class="hoverable btn btn-medium scale-transition scale-out">
                                    <i class="material-icons left">file_download</i>
                                    <strong>Result</strong>
                                  </a>
                            </div> 
                            
                            
                        </div>
                        
                        <div class="card-action valign-wrapper">
                                <a href="http://www.github.com/" target="_blank">
                                    <div class="valign-wrapper">
                                            <img src="../static/git_cat.webp" class="git_logo" />
                                            <p>git repo</p>
                                    </div>
                                </a>
                        </div>
                        
                    </div>
                </div>

                <div class = "col m10">
                    <div id="preloader" class="progress white">
                        <div class="indeterminate blue"></div>
                    </div>
                    
                    
                    <div class="valign-wrapper">
                        <div class="valign-wrapper full-height">
                            <div class="card large valign-wrapper hoverable img-preview">
                                <div class="card-image valign-wrapper">
                                    <img id="upload" src="../static/placeholder-image.png" class = "centered">
                                </div>
                            </div> 
                        </div>
                    
                    
                        <div class="valign-wrapper full-height">
                            <div class="card large valign-wrapper hoverable img-preview">
                                <div class="card-image valign-wrapper">
                                    <a id="download-wrapper">
                                        <img id="result" src="../static/placeholder-image.png" class = "centered">
                                    </a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    
                    

                    <!-- <div class = "valign-wrapper full-height scale-in-center">
                        <img class="sputum" src="../static/dot_grid.png"/>
                    </div> -->
                </div>
            </div>

        </div>
        <script src='../static/client.js'></script>
    </body>
</html>